@using UniFriend.Models;
@{var viewModel = (LayoutViewModel)ViewData["LayoutViewModel"]; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UniFriend</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/14b1552b28.js"></script>
    <script src="~/Scripts/AddFriend/GetSelection.js"></script>

    <script>
        $(document).ready(
            $('#clubDropdown').on('show.bs.dropdown', function () {
                console.log("Dropdown show");
            })
        );
       

    </script>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            @Html.RouteLink("UniFriend", new { action = "Index", controller = "Home" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.RouteLink("Home", new { action = "Index", controller = "Home" }, new { @class = "nav-link" })
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="friends-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Network
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addFriendModal">Add Friend</a></li>
                            <li><a class="dropdown-item" href="#">My Friends</a></li>
                        </ul>
                    </li>

                    <li id="clubDropdown" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="clubs-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Clubs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @{
                                foreach (var item in viewModel.Clubs)
                                {
                                    <li value="@item.ID"><a class="dropdown-item">@item.name</a></li>
                                }
                            }
                        </ul>
                    </li>

                    <li class="nav-item">
                        @Html.RouteLink("Profile", new { action = "ClubProfile", controller = "Profile" }, new { @class = "nav-link" })
                    </li>
                </ul>
                <form class="d-flex">
                    <input style="margin:5px" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <input type="button" style="margin:5px" value="Search" onclick="" class="btn btn-outline-success" />

                    <input type="button" style="margin:5px" value="Logout" onclick="@("window.location.href='" + @Url.Action("Index", "Login") + "'")" class="btn btn-danger" />

                </form>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UniFriend</p>
        </footer>
    </div>
    
    <div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Find Your Friend</h4>
                </div>
                <div class="modal-body">
                    <div class="menu">


                        <div style="margin-top: 15px">
                            <select class="form-select" id="selectionFor" style="display: block;"></select>
                        </div>

                        <div style="margin-top: 15px">
                            <select class="form-select" id="studentFacultyList" style="display: none;"></select>
                        </div>

                        <div style="margin-top: 15px">
                            <select class="form-select" id="studentDepartmentList" style="display: none;"></select>
                        </div>

                        <div style="margin-top: 15px">
                            <select class="form-select" id="studentLectureList" style="display: none;"></select>
                        </div>

                        <div style="margin-top: 15px">
                            <select class="form-select" id="studentCRNList" style="display: none;"></select>
                        </div>

                        <div style="margin-top: 15px">
                            <select class="form-select" id="ClubList" style="display: none;"></select>
                        </div>


                        <div style="margin-top: 15px">
                            <button type="button" class="btn btn-outline-primary" id="FindButton" style="display: block;">Find Your Friends</button>
                        </div>
                    </div>

                    <div class="main">
                        <div id="studentList" style="display: none;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

</html>
